<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml : 웹어플리케이션의 설정담당. -->
<!-- web-app : 루트태그. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jspstudy1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 404 오류 발생시 페이지 설정하기 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/chap9/error404.jsp</location>
  </error-page>
 <!-- 500 오류 발생시 페이지 설정하기 : 요청페이지 오류 -->
  <error-page>
  	<error-code>500</error-code>
  	<location>/chap9/error500.jsp</location>
 </error-page>
</web-app>